/* import font */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* other css files imports */
@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/footer.css");

/* CSS Variables for reusabilty */
:root {
	--font-logo: "Crimson Pro", serif;
	--font-heading: "Lora", serif;
	--font-desc: "Montserrat", sans-serif;

	--color-black: #181719;
	--color-gray: #828282;
	--color-footer: #a9a9a9;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	min-height: 100vh;
	margin: 0 auto;
	background-color: var(--color-black);
	color: #fff;
}

a {
	text-decoration: none;
	color: inherit;
}

/* START : header media queries */
@media screen and (max-width: 900px) {
	.header__menu {
		display: none;
	}

	.header__menu-mobile {
		display: flex;
	}
}

@media screen and (max-width: 550px) {
	.header__nav {
		padding: 19px 12px;
	}
}
/* END: header media queries */

/* START : hero media queries */
@media screen and (max-width: 900px) {
	.hero {
		margin-top: 36px;
	}
	.hero-content {
		display: flex;
		flex-direction: column;
		gap: 37px;
	}

	.hero-image__bg {
		gap: 18px;
	}
}

@media screen and (max-width: 600px) {
	.hero {
		padding: 0 12px;
	}

	.hero-image__profile {
		right: 11px;
	}

	.hero-image__bg {
		padding: 14px 71px 25px 19px;
	}
}
/* END: hero media queries */
